In [2]:
today = 'Saturday'
today

'Saturday'

In [3]:
today.lower()

'saturday'

In [4]:
today.upper()

'SATURDAY'

In [5]:
today.capitalize()

'Saturday'

In [8]:
tomorrow = 'Sunday'
days = today + tomorrow
days

'SaturdaySunday'

In [10]:
days = today + ' ' + 'and' + ' ' + tomorrow + '!'
days

'Saturday and Sunday!'

In [11]:
another_Day = today.replace('Satur','Wednes')
another_Day

'Wednesday'

all the strings methods return a new and don't modify the origina string

In [12]:
week = 'Sun,Mon,Tue,Wed,Thurs,Fri,Sat'
week

'Sun,Mon,Tue,Wed,Thurs,Fri,Sat'

In [ ]:
week.split(',')

['Sun', 'Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat']

split method return's a list of strings with elements that have been seperated by the character given to the split function

In [16]:
line = '       Manjeet Singh         '
line.strip()

'Manjeet Singh'

the strip function remove's the whitespace's from beginning and ending

In [22]:
cost_of_ice_bag = 1.25
profit_margin = .2
no_of_bag = 500
output_template = """if a grocery store sells ice bags at ${} per bag, with a profit margin of {} % 
then the total profit made is ${}"""

In [23]:
total_profit = cost_of_ice_bag*profit_margin*no_of_bag
output_template = output_template.format(cost_of_ice_bag,profit_margin,total_profit)
output_template

'if a grocery store sells ice bags at $1.25 per bag, with a profit margin of 0.2 % \nthen the total profit made is $125.0'

In [24]:
first = 'Manjeet'
last = 'Singh'

In [25]:
first == 'Manjeet'

True

In [26]:
first != 'Singh'

True

In [28]:
first <= 'ManjeetSingh'

True

the above returned ture bcoz first = manjeet is present in "manjeetsingh" and similarly we can other logical operator's

In [29]:

'Man' in first #man

True